#text-display {
    background-color: whitesmoke;
    width: 9em;
    height: 1em;
    border: 3px solid green;
    opacity: 75%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1%;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    box-shadow: inset 0 0 10px #242121;
    text-shadow: -1px -1px #666;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
}

