.drum-pad {
    border: 3% thick #0088dd;
    width: 9%;
    margin: .3% .1% .3% .1%;
    font-weight: bold;
    font-size: large;
    padding: 3%;
    background-color: rgb(49, 112, 49);
    color:azure;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
}

#drum-machine {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: grey;
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    box-shadow: inset 0 0 10px #242121;
}

.controls-wrapper {
    color: azure;
    font-weight: bold;
    padding: 0%;
    display: flex;
}

#text-display {
    background-color: whitesmoke;
    width: 9em;
    height: 1em;
    border: 3px solid green;
    opacity: 75%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1%;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    box-shadow: inset 0 0 10px #242121;
    text-shadow: -1px -1px #666;
    margin: .3% auto; 
}

