.App {
  text-align: center;
  margin: 50px;
}

.drum-pad {
  width: 130px;
  height: 130px;
  margin: 30px auto;
  font-weight: bold;
  font-size: x-large;
  background-color: rgb(49, 112, 49);
  color:azure;
  border-radius: 2%;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.331);
  border: 3% thick #0088dd;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  transition: all 0.2s ease-in-out;
}

.drum-pad:active {
  translate: 3px 3px;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  background-color: grey;
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: azure;
  font-weight: bold;
  margin: 50px auto;
}

#text-display {
  text-align: center;
  background-color: whitesmoke;
  width: 9em;
  height: 1em;
  border: 3px solid green;
  opacity: 75%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 1%;
  border-radius: 2%;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  box-shadow: inset 0 0 10px #242121;
  text-shadow: -1px -1px #666;
}

